@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
  background-color: #010100;
  color: #f9f9f9;
  scroll-behavior: smooth;
}


.shadow-btn:hover{
  box-shadow:
  0 8px 24px rgba(124, 58, 237, 0.35),
  0 0 32px rgba(124, 58, 237, 0.55);
}